# Default Satisfy All: both auth and IP required
AuthType Basic
AuthName "Strict"
AuthUserFile __HTDOCS_ROOT__/auth/.htpasswd
Require valid-user

Order Deny,Allow
Deny from all
Allow from 127.0.0.1
Allow from ::1
